SECRET_KEY=YOUR_SECRET
DEBUG=True

# Database settings
# Sqlite

DATABASE_ENGINE=django.db.backends.sqlite3
DATABASE_NAME=./db.sqlite3

DATABASE_USER=YOUR_USER
DATABASE_PASSWORD=YOUR_PASSWORD
DATABASE_HOST=000.0.0.0
DATABASE_PORT=000